:root{
    --special-color:tomato;
    --second-color:darkgoldenrod;
    --single-space: 1em;
    --double-space: 1.5em;
    --main-font: Arial, Helvetica, san-serif;
    --sub-font: 'Courier New', Courier, monospace;
}
/* . is class selector */
.container {
    max-width: 900px;
    margin: 0 auto;
    --special-background: lightgreen;
}

header{
    background-color: var(--special-background);
}

main{
    --special-background:lightblue;
}

.stars{
    background-color: var(--special-background);
}
/* space is descendant selector */
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* space is descendant selector */
nav ul li{
    flex: 1;
}
/* > is child - direct child selector */
main>p{
    font-size: 1.5rem;
}
/* + is adjacent selector */
h2+p{
    background-color: black;
    color: white;
    padding: 1rem;
}

.stars span{
    cursor: pointer;
}
/* ~ is sibling selector */
.stars span:hover~span{
    opacity: .5;
}

/* [] is attribute selector */
a[href="#"]{
    color:darkgoldenrod;
}
/* ^= is for checking the value which begins with */
a[href^="http"]{
    border-left: 4px solid tomato;
}
/* $= is for checking the attribute value which ends with */
a[href$=".pdf"]::after{
    content: "\21E9";
    font-weight:bold;
    color: tomato;
}
h2+p::first-line{
    color:tomato;
}

h3+p::first-letter{
    font-size: 2rem;
}

/* State related Pseudo classes */
/* LoVe HAte link visited hover focus active order needs to follow like this */
nav a,
nav a:link,
nav a:visited{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .5s;
}

nav a:hover,
nav a:focus{
    text-decoration: underline;
    transform: scale(1.5);
}

nav a:active{
    transform: scale(1.5) translateX(10px)
}

.google{
    display: block;
    background-color: var(--second-color);
    width: calc(100% - 6rem - 4px);
    padding: 2rem;
    border: 2px solid black;
    margin: 1rem;
}

/* .ninja{
    transition: 0.3s;
}

.ninja:hover {
    opacity: 0.1;
}

.spin{
    transition: transform 1s;
    transform: rotateY(360deg);
} */